<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="commonFooter" th:remove="tag">
	<!-- Footer -->
	<div class="section fp-auto-height" tabindex="0">
	  <footer class="footer" id="Footer">
	      <div id="footerInner" class="clearfix">
	          <!-- 푸터 하단 -->
	          <article class="footerBottom">
	              <div class="ft-link">
	                  <div class="ft-wr">
	                      <nav class="ft-navigator">
	                          <ul>
	                              <li><a href="/terms/policy" title="개인정보처리방침 바로가기">개인정보처리방침</a></li>
	                              <li><a href="/company/contact" title="찾아오시는 길 바로가기">찾아오시는 길</a></li>
	                              <li><a href="/static/pdf/dwce_Credit_200702.pdf" target="_blank" title="새 창열림">신용평가 등급</a></li>
	                              <li>
	                              	<a href="/board/news/settlement">결산 공고</a>
	                              </li>
	                              <li><a href="https://www.dongwon.com/ethics/report/write" target="_blank" title="새 창열림">정도경영신고센터</a></li>
	                              <li><a href="/terms/email" title="이메일무단수집거부 바로가기">이메일무단수집거부</a></li>
	                          </ul>
	                      </nav>
	                      <div class="familysite">
	                          <h3><a href="#none">Family Site</a></h3>
	                          <div class="fam-w"> 
	                              <ul class="fam-list-w"> 
	                                  <li>
	                                      <h4>동원그룹</h4>
	                                      <ul class="fam-list">
	                                          <li>
	                                              <a href="http://www.dongwon.com" target="_blank" title="새 창열림">동원그룹</a>
	                                          </li>
	                                      </ul>
	                                  </li>
	                                  <li>
	                                      <h4>해양 &middot; 물류</h4>
	                                      <ul class="fam-list">
	                                          <li>
	                                              <a href="http://www.dwml.co.kr/" target="_blank" title="새 창열림">동원산업</a>
	                                          </li>
	                                          <li>
	                                              <a href="http://www.dongwonloex.com/" target="_blank" title="새 창열림">동원로엑스</a>
	                                          </li>
	                                          <li>
	                                              <a href="http://www.bidc.co.kr/ko/" target="_blank" title="새 창열림">BIDC</a>
	                                          </li>
	                                          <li>
	                                              <a href="http://www.dongwonloexcs.com/" target="_blank" title="새 창열림">동원로엑스냉장</a>
	                                          </li>
	                                      </ul>
	                                  </li>
	                                  <li>
	                                      <h4>식품가공&middot;유통</h4>
	                                      <ul class="fam-list">
	                                          <li>
	                                              <a href="http://www.dongwonfnb.com" target="_blank" title="새 창열림">동원F&amp;B</a>
	                                          </li>
											  <li>
												<a href="https://www.dwhf.co.kr/kor/" target="_blank" title="새 창열림">동원홈푸드</a>
											</li>
	                                          <li>
	                                              <a href="http://www.dongwonfarms.com" target="_blank" title="새 창열림">동원팜스</a>
	                                          </li>
	                                          
	                                      </ul>
	                                  </li>
	
	                                  <li>
	                                      <h4>생활서비스</h4>
	                                      <ul class="fam-list">
	                                          <li>
	                                              <a href="http://www.dongwonsystems.co.kr/" target="_blank" title="새 창열림">동원시스템즈</a>
	                                          </li>
											  <li>
												<a href="http://www.techpacksol.com/" target="_blank" title="새 창열림">테크팩솔루션</a>
											</li>
								
	                                          <li>
	                                              <a href="http://www.dongwoncns.com/" target="_blank" title="새 창열림">동원CNS</a>
	                                          </li>
	                                      </ul>
	                                  </li>
	                                  <li>
	                                      <h4>인재&middot;사회공헌</h4>
	                                      <ul class="fam-list">
	                                          <li>
	                                              <a href="http://www.dwef.or.kr" target="_blank" title="새 창열림">동원육영재단</a>
	                                          </li>
	                                          <li>
	                                              <a href="http://www.dwleadersacademy.co.kr/" target="_blank" title="새 창열림">동원리더스아카데미</a>
	                                          </li>
	                                      </ul>
	                                  </li>
	                                  <li>
	                                      <h4>글로벌</h4>
	                                      <ul class="fam-list">
	                                          <li><a href="http://starkist.com/" target="_blank" title="새 창열림">StarKist</a></li>
	                                          <li><a href="http://www.sca-sa.com/" target="_blank" title="새 창열림">S.C.A SA</a></li>
	                                          <li><a href="https://www.tapack.com/" target="_blank" title="새 창열림">TTP</a></li>
	                                      </ul>
	                                  </li>
							 		<a href="#none" class="close"><img src="/static/images/ic_close.png" alt="패밀리사이트 닫기"></a> 
	                              </ul>
	                          </div>
	                      </div>
	                  </div>
	              </div>
	              <div class="ft-bt">
	                  <div class="ft-wr">
	                      <div class="ft-info">
	                          <a href="/" class="ft-logo"><img src="/static/images/ft-logo.png" alt="동원건설산업 하단로고"></a>
	                          <p><span>서울영업소</span><b>주소  </b>   서울시 서초구 마방로 68 (서울시 서초구 양재동 275) 동원산업빌딩 7층  <b>    TEL </b>    02) 589-4900   <b> FAX  </b>   02) 589-4920</p>
	                          <p><span>본점</span><b>주소</b>     안양시 동안구 시민대로 327번길 7, 512호 (관양동, 대명글로벌비즈스퀘어)    <b>  TEL </b>    031) 425-4801</p>
	                          <p class="copy">Copyright 2020 Dongwon Construction Industries. All Rights Reserved</p>
	                      </div>
						  <div class="ft-bi">
								<a><img src="/static/images/sub/benest-house-w.png" alt="BENEST HAUS"></a>
								<a><img src="/static/images/sub/benest-loft-w.png" alt="BENEST LOFT"></a>
								<a><img src="/static/images/sub/benest-sens-w.png" alt="BENEST SENS"></a>
								<a><img src="/static/images/sub/benest-work-w.png" alt="BENEST WORK"></a>
						  </div>
	                  </div>
	              </div>
	          </article>
	      </div>
	  </footer>
	</div>
	<!-- Footer --> 
</div>