<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-T54PV0HF5K"></script> -->
<script>
//   window.dataLayer = window.dataLayer || [];
//   function gtag(){dataLayer.push(arguments);}
//   gtag('js', new Date());

//   gtag('config', 'G-T54PV0HF5K');
</script>
<!-- <title th:text="(${currentSubMenuOne} != null and ${currentSubMenuOne.smcName} ? ${currentSubMenuOne.smcName} + ' - ' : '') + '동원건설산업'"></title> -->
<!-- <!-- <meta charset="utf-8"> --> -->
<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> -->
<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
<!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=no"> -->
<!-- <meta name="author" content=""> -->
<!-- <meta name="description" content=""> -->
<!-- <meta name="robots" content="index,nofollow"> -->
	
<!-- <meta property="og:type" content="website"> -->
<!-- <meta property="og:site_name" content="동원건설산업"> -->
<!-- <meta property="og:title" th:content="(${currentSubMenuOne} != null and ${currentSubMenuOne.smcName} ? ${currentSubMenuOne.smcName} + ' - ' : '') + '동원건설산업'"> -->
<!-- <meta property="og:description" content=""> -->
<!-- <meta property="og:image" th:content="${#httpServletRequest.scheme} + '://' + ${#httpServletRequest.serverName} + '/static/images/logo.png'"> -->
<!-- <meta property="og:url" th:content="${#httpServletRequest.scheme} + '://' + ${#httpServletRequest.serverName} + ${#httpServletRequest.requestURI}"> -->
	
<!-- <meta name="_csrf" th:content="${_csrf?.token}"> -->
<!-- <meta name="_csrf_header" th:content="${_csrf?.headerName}"> -->
 

<!-- <script type="text/javascript" src="/static/common/js/passive-events.js"></script> -->
<!-- <script src="/static/common/js/jquery-1.12.4.min.js"></script> -->
<!-- <script src="/static/common/js/common.js"></script> -->
<!-- <script src="/static/common/js/slick.min.js"></script> -->
<!-- <script src="/static/common/js/slick-animation.min.js"></script> -->
<!-- <script src="/static/common/js/aos.js"></script> -->
<!-- <script src="/static/common/js/jquery.fullPage.js"></script>  -->


<!-- <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico?v=1" /> -->
<!-- <link rel="stylesheet" href="/static/common/css/jquery.fullPage.css"> -->
<!-- <link rel="stylesheet" href="/static/common/css/animate.min.css"> -->
<!-- <link rel="stylesheet" href="/static/common/css/aos.css" th:if="!(${#strings.equals(#httpServletRequest.requestURI, '/')})">   -->
<!-- <link rel="stylesheet" href="/static/common/css/default.css">  -->
<!-- <link rel="stylesheet" href="/static/common/css/font.css">  -->
test