<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko-KR">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">ADMIN</title>
    <!-- 공통 css, js, meta tag -->
    <th:block th:replace="thymeleaf/fragments/adminHead"></th:block>
</head>
<body>
	<section id="container">
		<header th:replace="thymeleaf/fragments/adminHeader :: adminHeader"></header>
		<aside th:replace="thymeleaf/fragments/adminAside :: adminAside"></aside>
	    <!-- page content body 구성 -->
	    <th:block layout:fragment="content"></th:block>
    </section>
</body>
</html>